
<div class="supercontrols-container">
    <h1>New Applications</h1>
    <div class="user-list-container">
        <h3>Make User admin permissions</h3>
        <ul *ngFor="let u of users">
            
            <li *ngIf="u.permission != sadmin">  
                <div>
                    <p>Username: {{u.username}} Permission: {{u.permission}}</p>
                    <button *ngIf="u.permission != gadmin" (click)="makeAdmin(u, gadmin)">Group Admin</button>
                    <button (click)="makeAdmin(u, sadmin)">Super Admin</button>
                </div>
            </li>
        </ul>
    </div>
</div>
