.group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button {
    background-color: #4f687a;
    border: none;
    color: white;
    width: 200px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
}
button:hover {
    cursor:pointer;
    background-color: #80a7c4;
    transition-duration: 0.3s;
}
.channel-container {
    background-color: #32434d;
    border: 1px solid #808f99;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}
.group-channels-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.group-channels-container ul {
    margin: 0;
    padding: 0;
}
.channel-button {
    background-color: #4f687a;
    border: none;
    color: white;
    width: 100px;
    padding: 5px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
}
.admin-list {
    background-color: #32434d;
    border: 1px solid #808f99;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}
.admin-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.admin-item {
    background-color: #ffae42;
    border: none;
    color: black;
    width: 100px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
}
.gadmin-settings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 90%;
}
.show-settings-button {
    background-color: transparent;
    color:darkgrey;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.show-settings-button:hover {
    color:white;
    transition: 0.3s;
  }
.gadmin-container {
    background-color: #262e36;
    border: 1px solid #808f99;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-channel {
    width: 50%;
}
.gadmin-list {
    background-color: #32434d;
    border: 1px solid #808f99;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}
.gadmin-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gadmin-list h3 {
    margin: 20px;
}
.gadmin-list h4 {
    margin: 20px;
}
.user-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.user-button {
    background-color: #4f687a;
    border: none;
    color: white;
    width: 200px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
}
.user-button:hover {
    cursor:pointer;
    background-color: #80a7c4;
    transition-duration: 0.3s;
}
.admin-user-button {
    background-color: #ffae42;
    border: none;
    color: black;
    width: 100px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
}
.delete-group {
    width: 50%;
    margin: 20px;
    padding: 20px;
}
.delete-group-button {
    background-color: #ff6347; /* Tomato */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    
}
.delete-group-button:hover {
    background-color: #ff4839; /* Slightly darker red */
}
.list-item {
    background-color: #32434d;
    border: 1px solid #808f99;
    border-radius: 5px;
    color: white;
    max-width: 220px;
}
.appl-button {
    background-color: #4f687a;
}
.appl-button:hover {
    background-color: #80a7c4;
}

.legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
  
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 15%;
}