<div class="group-container">
    <h1>{{currentGroup.groupname}}</h1>
    <div class="channel-container">
        <h3>{{currentGroup.groupname}} Channels</h3>
        <div class="group-channels-container">
            <ul *ngFor="let c of currentGroup.channels">
                <li ><button class="channel-button" (click)="onSelect(c)">{{c}}</button></li>
            </ul>
        </div>
    </div>
    <button class="show-settings-button" (click)="showAdmins()">Show Admins</button>
    <div class="admin-list" *ngIf="sadmins">
        <h3>{{currentGroup.groupname}} Admins</h3>
        <ul>
            <li class="admin-item" *ngFor="let a of currentGroup.admins">{{a}}</li>
        </ul>
    </div>
    <div class="gadmin-settings" *ngIf="admin">
        <button class="show-settings-button" (click)="showSettings()">Show Admin Settings</button>
        <div class="gadmin-container" *ngIf="ssettings">
            <div class="create-channel">
                <h3>Create new Channel</h3>
                <input [(ngModel)]="cname" />
                <button (click)="createChannel()">Create Channel</button>
            </div>
            <button class="show-settings-button" (click)="showUsers()">Show Users</button>
            <div class="gadmin-list" *ngIf="susers">
                <div class="legend">
                    <h3>{{currentGroup.groupname}} User List</h3>
                    <span class="legend-item">
                        <div class="legend-color" style="background-color: #ffae42;"></div>
                        Admins
                    </span>
                    <span class="legend-item">
                      <div class="legend-color" style="background-color: #4f687a;"></div>
                        Users
                    </span>
                </div>      
                <ul class="user-list" *ngFor="let u of currentGroup.users">
                    <li class="user-button" *ngIf="!currentGroup.admins.includes(u)" (click)="addAdmin(u)">{{u}} - Add as Admin</li>
                    <li class="admin-user-button" *ngIf="currentGroup.admins.includes(u)">{{u}}</li>
                </ul>
            </div>
            <button class="show-settings-button" (click)="showApplications()">Show Applications</button>
            <div class="gadmin-list" *ngIf="sapplications">
                <h3>Applications</h3>
                <h4 *ngIf="currentGroup.applied.length === 0">No new applications</h4>
                <ul *ngFor="let app of currentGroup.applied">
                    <li class="list-item">
                        <h3>{{app}}</h3>
                        <button class="appl-button" (click)="addApplicant(app)">Add {{app}}</button>
                        <button class="appl-button" (click)="denyApplicant(app)">Deny {{app}}</button>
                    </li>
                </ul>
            </div>
            <div class="delete-group">
                <h3>Delete {{currentGroup.groupname}}</h3>
                <button class="delete-group-button" (click)="deleteGroup($event)">DELETE GROUP</button>
            </div>
        </div>
    </div>
</div>
