<div class="chat-container">
    <h2>Chat</h2>
    <form>
        <div class="form-message">
            <label for="messagecontent">New Message</label>
            <input type="text" [(ngModel)]="messageContent" name="messagecontent" id="messagecontent" />
        </div>
        <div class="form-message">
            <button (click)="chat()" class="chat-button">Send</button>
        </div>
    </form>
    <div class="chat-list-container">
        <ul>
            <li *ngFor="let m of messages">{{m}}</li>
        </ul>
    </div>
</div>

<div class="video-container">
    <div>
        <button (click)="streamCamera()">Stream with Camera</button>
        <button (click)="streamScreen()">Stream with Screen</button>
        <button (click)="endCall(currentCall)">End Call</button>
    </div>
    <h2>Peers</h2>
    <ul>
        <li *ngFor="let peerID of peerList" (click)="calling(peerID)">
            <span>{{peerID}}</span>
        </li>
    </ul>
    <div class="video-grid">
        <div *ngFor="let video of videos">
            <span *ngIf="video.userID !== ownID; else currentUserVideoLabel">Peer: {{video.userID}}</span>
            <ng-template #currentUserVideoLabel>
                <span>You: {{video.userID}}</span>
            </ng-template>
            <video [srcObject]="video.srcObject" controls autoplay [muted]="video.muted">

            </video>
        </div>
    </div>
</div>
