<div class="chat-container">
    <h2>Chat</h2>
    <form>
        <div>
            <label for="rooms">Select a room</label>
            <select [(ngModel)]="chosenRoom" name="roomList">
                <option [ngValue]="null">Select Room</option>
                <option *ngFor="let room of rooms">
                    {{room}}
                </option>
            </select>
        </div>
        <div>
            <button *ngIf="!isInRoom" (click)="joinRoom()">Join</button>
            <button *ngIf="isInRoom" (click)="leaveRoom()">Leave</button>
        </div>
        <div class="form-message">
            <label for="messageOut">New Message</label>
            <input type="text" [(ngModel)]="messageOut" name="messageOut" id="messageOut" />
        </div>
        <div class="form-message">
            <button *ngIf="isInRoom" (click)="chat()" class="chat-button">Send</button>
        </div>
    </form>
    <div class="chat-list-container">
        <ul>
            <li *ngFor="let m of messageIn">{{m.datetime | date: 'dd/MM/yyy'}} - {{m.message}}</li>
        </ul>
    </div>
</div>

<div class="video-container">
    <div>
        <button (click)="streamCamera()">Stream with Camera</button>
        <button (click)="streamScreen()">Stream with Screen</button>
        <button (click)="endCall(currentCall)">End Call</button>
    </div>
    <h2>Peers</h2>
    <ul>
        <li *ngFor="let peerID of peerList" (click)="calling(peerID)">
            <span>{{peerID}}</span>
        </li>
    </ul>
    <div class="video-grid">
        <div *ngFor="let video of videos">
            <span *ngIf="video.userID !== ownID; else currentUserVideoLabel">Peer: {{video.userID}}</span>
            <ng-template #currentUserVideoLabel>
                <span>You: {{video.userID}}</span>
            </ng-template>
            <video [srcObject]="video.srcObject" controls autoplay [muted]="video.muted">

            </video>
        </div>
    </div>
</div>
