/* Navbar Styles */
.navbar {
    width: 100%;
    background-color: #1f2831;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1f2831;
    list-style-type: none; /* Remove list decoration */
  }
  
  .nav-item {
    color: #96a1ab;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .nav-item:hover {
    color: #4788c5;
  }
  
  #Logout {
    background-color: #1f2831;
    color: #96a1ab;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  #Logout:hover {
    color: #4788c5;
  }
  
  /* Links Styles */
  a {
    text-decoration: none;
    color: #96a1ab;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #4788c5;
  }
  
  /* Content Container Styles */
  .content-container {
    background-color: #181e24;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  