/* Groups Page Styles */
.groups-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
/* Form Styles */
.group-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin: 20px 0;
}
  
.form-item {
    margin: 10px 0;
    width: 100%;
}
  
.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}
  
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
  
/* Buttons Styles */
button.btn-primary {
    background-color: #4f687a;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
  
button.btn-primary:hover {
    background-color: #80a7c4;
}
  
/* Group List Styles */
.group-list-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}
  
.group-list {
    flex: 1;
    background-color: #32434d;
    flex-wrap: wrap;
    border: 1px solid #808f99;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    max-height: 600px;
}
  
.group-list h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.group-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    max-height: 500px;
    overflow: auto;
}
  
.gl-item {
  margin: 5px;
}
  
/* Group Button Styles */
.group-button {
    background-color: #4f687a;
    border: none;
    color: white;
    width: 200px;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
  }
  
  .group-button:hover {
    background-color: #80a7c4;
  }
  .group-applied-button {
    background-color: #ad3d11;
    border: none;
    color: white;
    width: 200px;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
  }
  .group-applied-button:hover {
    background-color: #d33e03;
  }
  .create-group-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .show-create-button {
    background-color: #181e24;
    border: none;
    color: white;
    width: 200px;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
  }
  .show-create-button:hover {
    background-color: #80a7c4;
    transition: 0.3s;
  }
  
  /* Error Message Styles */
  .error-message {
    color: red;
  }
  .legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 15%;
  }
  